@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="privacy-policy-container">
    <p>Last updated: 2023-12-05</p>

    <h3>1. Introduction</h3>
    <p>Welcome to Sociable. We are committed to respecting the privacy of our users. This Privacy Policy explains how we collect, use, disclose, 
        and safeguard your information when you visit our website www.sociable.com.</p>

    <h3>2. Information Collection</h3>
    <p>We collect information about you when you register on our site, fill out a form, or enter information on our site. 
        This information may include your name, email address, phone number, and other contact details.</p>

    <h3>3. Information Use</h3>
    <p>We may use the information we collect from you to personalize your experience, improve our website, 
        improve customer service, process transactions, send periodic emails, or administer a contest, promotion, or survey.</p>

    <h3>4. Information Protection</h3>
    <p>We implement a variety of security measures to maintain the safety of your personal information when you submit or access your personal information.</p>

    <h3>5. Third-Party Disclosure</h3>
    <p>We do not sell, trade, or otherwise transfer your personally identifiable information to outside 
        parties unless we provide you with advance notice. This does not include website hosting partners 
        and other parties who assist us in operating our website, conducting our business, or serving our users, 
        as long as those parties agree to keep this information confidential.</p>

    <h3>6. Third-Party Links</h3>
    <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies.</p>

    <h3>7. Consent</h3>
    <p>By using our site, you consent to our website's privacy policy.</p>

    <h3>8. Changes to Privacy Policy</h3>
    <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page.</p>

    <h3>Contact Us</h3>
    <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
    <p>customer-support@sociable.com<br />1-800-956-8545</p>
</div>
