/* background for overall site */
body {
    background: linear-gradient(to right, #f5f5dc, #e6e6e1); /* From beige to light gray */
}


/* following is for the cards (contacts) */ 

.card-custom, .card-custom .card-body {
    transition: transform .3s, background-color .3s;
    background-color: #dedddd !important;
}

.card-custom:hover .card-header, .card-custom:hover .card-footer {
    transition: background-color .3s;
    background-color: #495057 !important; /* Even darker header on hover */
}

.card-custom:hover .card-text, .card-custom:hover .card-title {
    color: white;
}

.card-custom .card-header, .card-custom .card-footer {
    background-color: #cac7c7 !important; /* Slightly darker grey for header */
}

.card-custom:hover .card-body {
    background-color: #757272 !important;
}

.card-custom:hover {
    transform: scale(1.05);
    background-color: #cac7c7 !important; /* Dark grey on hover */
    color: white;
}


/* for buttons on the cards */
.card-custom:hover .btn-info, .jumbo-btn .btn-info:hover {
    background-color: #0DCAF0 !important;
}

.card-custom:hover .btn-danger, .jumbo-btn .btn-danger:hover {
    background-color: #DC3545 !important;
}

.card-custom .btn, .jumbo-btn .btn {
    background-color: #495057 !important; /* Button color change on hover */
    color: white;
}

/* applying logic for button colors to other buttons on website */
.btn-primary {
    background-color: #495057 !important;
}

.btn-primary:hover {
    background-color: #0D6EFD !important;
}

/* navigation buttons */
.btn-nav {
    background-color: #F5F5DC !important;
}

.btn-nav:hover {
    border: 1px solid black;
}

.btn-nav.active {
    background-color: #495057 !important;
}


/* search button (for contacts) */
.search-form {
    display: flex !important;
    height: 100% !important;
}

.search-form input, .search-form button {
    flex-grow: 1 !important;
}

.search-form button {
    min-width: 100px !important;
}

/* create new button */
.btn-vertical-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
}

.sort-message {
    padding-left: 10px !important;
    overflow: hidden !important;
    white-space: normal !important;
}


/* navbar */
.navbar-custom {
    background-color: #949090 !important;
}

/* Navbar buttons with lighter background and dark text */
.navbar-custom .nav-link {
    background-color: #f8f9fa !important; /* Light background for buttons */
    color: #343a40; 
    transition: box-shadow 0.3s, transform 0.3s; 
    border: 1px solid transparent; /* inward shadow effect */
    padding: .5rem 1rem; 
    margin-left: .3rem;
    margin-right: .3rem;
    text-shadow: 0 0 1px transparent;
}

/* Hover effects for navbar buttons */
.navbar-custom .nav-link:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9), inset 0 0 5px rgba(0, 0, 0, 0.8); /* Outer glow */
    transform: translateY(-2px); /* lil lift */
    font-weight: bold;
    transition: font-weight .1s;
    text-shadow: 0 0 1px #343a40;
}

.navbar-brand {
    font-family: 'Lobster', cursive; /* classy but nice font :) */
    font-size: 1.75rem; 
    color: #336699; 
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow .3s;
    display: inline-block;
    transform: rotate(-20deg); /* Rotate the text by -20 degrees (display slanted) */
}

.navbar-brand:hover {
    color: #264d73; /* Slightly darker on hover for interactivity */
    transform: rotate(0deg) scale(1.1); /* align text straight on hover */
    text-shadow: 2px 2px 2px #FFF; /* give text a light up effect (with white color)*/
    transition: transform .3s, text-shadow .3s;
}


.jumbotron {
    border-bottom: 3px solid black;
}


/* style for privacy policy (gray on gray on gray xD) */
.privacy-policy-container {
    color: #333; 
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd; 
    max-width: 800px;
    margin: 20px auto; /* Centering the container */
}

.privacy-policy-container h1, .privacy-policy-container h2 {
    color: #222; /* Slightly darker gray */
}

.privacy-policy-container p {
    color: #555; 
    line-height: 1.6; /* easier to read */
}

.privacy-policy-container a {
    color: #007bff;
    text-decoration: none;
}

.privacy-policy-container a:hover {
    text-decoration: underline;
}


/* pagination style */
.pagination-container {
    text-align: center;
    color: black;
    font-size: 1.1rem;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container .page-link {
    color: #fff; /* white text */
    background-color: #495057; /* dark gray background */
    border: 1px solid #495057; 
    padding: 8px 16px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    display: inline-block;
    /* Fixed width for equal sizing */
    width: 100px;
    text-align: center;
}

.pagination-container .page-link:hover {
    background-color: #0D6EFD; /* blue background on hover */
    border-color: #0D6EFD; /* blue border on hover */
}

/* the following probably isnt necessary as the buttons don't show if there arent pages available but just in case */
.pagination-container .page-link:disabled,
.pagination-container .page-link.disabled {
    color: #aaa;
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: #eee;
}


/* more modification to the jumbotron for categories */
.jumbotron {
    background-color: lightgrey; /* grey */
    padding: 1rem 1rem; /* slightly taller */
    text-align: center; /* name in middle */
    margin-bottom: 10px;
    border-radius: 15px; /* rounded corners */
    width: 100%;
}

.jumbotron h3 {
    border: 2px solid black; 
    display: inline-block;
    padding: 10px; 
    margin: 0 auto;
}


/* fixing logo size for small screens */
@media (max-width: 768px) {
    .row > .col-md-2 {
        text-align: center; /* align in center */
    }

    .col-md-2 img {
        max-width: 250px; /* limit size */
        height: auto; 
        margin: 0 auto; 
        display: block;
    }
}